/unity/machineLearning/Library/*
/unity/machineLearning/Logs/*
/unity/machineLearning/Temp/*
/unity/machineLearning/obj/*
/unity/machineLearning/obj/.vs/*
/c++/machineLearning/.vs/machineLearning/v15
/c++/machineLearning/x64/Release/vc141.pdb
/c++/machineLearning/x64/Release/MLLib.obj
/c++/machineLearning/x64/Release/machineLearning.pdb
/c++/machineLearning/x64/Release/machineLearning.log
/c++/machineLearning/x64/Release/machineLearning.lib
/c++/machineLearning/x64/Release/machineLearning.ipdb
/c++/machineLearning/x64/Release/machineLearning.iobj
/c++/machineLearning/x64/Release/machineLearning.exp
/c++/machineLearning/Debug
/c++/machineLearning/ConsoleApplicationTest
/c++/machineLearning/x64/Debug/machineLearning.tlog
/c++/machineLearning/x64/Debug/vc141.pdb
/c++/machineLearning/x64/Debug/vc141.idb
/c++/machineLearning/x64/Debug/MLLib.obj
/c++/machineLearning/x64/Debug/machineLearning.pdb
/c++/machineLearning/x64/Debug/machineLearning.log
/c++/machineLearning/x64/Debug/machineLearning.lib
/c++/machineLearning/x64/Debug/machineLearning.ilk
/c++/machineLearning/x64/Debug/machineLearning.exp
*.csproj
*.sln
